.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 107px);
}

.post-wrapper {
  width: 400px;
  padding: 20px 40px;

  color: var(--black);

  border-radius: 12px;

  background: var(--gray);

  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
}

.comment {
  border-bottom: 1px solid var(--gray200);
}

.comment-title {
  margin: 10px 0 0;
}

.post-new-comment-input {
  margin-top: 5px;
  padding: 10px 20px 10px 5px;

  color: var(--black);

  border: none;
  border-radius: 12px;

  outline: none;

  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
}

.post-new-comment-button {
  margin-left: 10px;
  padding: 10px;

  border: none;
  border-radius: 6px;

  background-color: var(--white);

  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0, rgb(27 31 35 / 15%) 0 0 0 1px;
}

.post-new-comment-button:hover {
  cursor: pointer;
}
